body{
    background: #352f5b;
  }
  .container{
    max-width: 400px;
  }
  input[type=text],
  input[type=text]:focus{
    color: #fff;
    border: none;
   background: rgba(244, 244, 244, 0.2);
    max-width: 400px;
  }
  .todos li{
    background: #423a6f;
    color: #fff;
  }
  .delete{
    background-color: #fff;
    color: #352f5b;
    border: 1px;
    border-radius: 20px;
    cursor: pointer;
  }
  .filtered{
    display: none !important;
  }